

.main-page {
    width: 100%;
    height: fit-content;
    background: url(/assets/imgs/bg.jpg);
    background-size: cover;
    background-attachment: fixed;

    .titleabout {
        text-align: center;
        font-size: 2.3em;
        padding-top: 110px;
        margin-bottom: 50px;
        text-shadow: -1px 0 #ffffff, 0 1px #ffffff, 1px 0 #ffffff, 0 -1px #ffffff;
    }

    .contbio {
        width: 90%;
        height: fit-content;
        background-color: rgba(0, 0, 0, 0.747);
        backdrop-filter: blur(8px);
        color: white;
        margin: 0 auto;
        text-align: center;
        border-radius: 10px;

        .qualities {
            padding: 10px;
            font-size: 0.8em;
        }
    }

    
}

/* Query Desktop */
@media (min-width: 700px) {
    .titleabout {
        font-size: 8em !important;
    }
}