

.main-page {
    width: 100%;
    height: 100vh;
    background: url(/assets/imgs/images.jpg);
    background-size: cover;
    background-attachment: fixed;

    .main-title {
        text-align: center;
        font-size: 2.3em;
        padding-top: 150px;
        text-shadow: -1px 0 #ffffff, 0 1px #ffffff, 1px 0 #ffffff, 0 -1px #ffffff;
    }
}

.button-flex:last-of-type {
    margin-top: 60px;
}

@media (min-width: 700px) {
    .main-title {
        font-size: 5em !important;
    }
}